
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #bababa;
  position: fixed;
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  line-height: 200%;
  transition: 850ms;
}

.nav-menu.active {
  left: -12%;
  transition: 350ms;
}

.nav-menu.active:hover {
  left: 0;
  transition: 350ms;
}
.menuText {
  position: absolute;
  right: -25px;
  height: 60px;
  color: black;
  font-size: 50px;
  transform: rotate(90deg);
  top: 25%;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5vh 5vh 15vh 0;
  list-style: none;
  height: 60px;
}

.nav-text a {
  color: black;
  font-size: 72px;
  height: 100%;
}

.nav-text a:hover {
  color: #d6e7d6;

}

.nav-menu-items {
  width: 100%;
}


span {
  margin-left: 16px;
}
